{% extends 'store/base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}
<h2 class="mb-4">Checkout</h2>
    {% if message %}
        <p class="alert alert-warning">{{ message }}</p>
    {% else %}
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0">Order Summary</h5>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <span>Total Price:</span>
                    <span class="font-weight-bold text-success">${{ total_price }}</span>
                </div>
                <div class="d-flex justify-content-between">
                    <span>Shipping Cost (5%) :</span>
                    <span class="font-weight-bold text-success">${{ shipping_cost }}</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <span class="font-weight-bold">Grand Total:</span>
                    <span class="font-weight-bold text-danger">${{ grand_total }}</span>
                </div>
            </div>
        </div>

        <form method="post">
            {% csrf_token %}
            <fieldset class="border p-4 mb-4">
                <legend class="w-auto">Shipping Address</legend>
                {{ form.as_p }}
            </fieldset>
            <fieldset class="border p-4 mb-4">
                <legend class="w-auto">Payment Information</legend>
                <div class="form-group">
                    <label for="card_number">Card Number:</label>
                    <input type="text" id="card_number" name="card_number" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="expiry_date">Expiry Date (MM/YY):</label>
                    <input type="text" id="expiry_date" name="expiry_date" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="cvv">CVV:</label>
                    <input type="text" id="cvv" name="cvv" class="form-control" required>
                </div>
            </fieldset>

            <button type="submit" class="btn btn-primary btn-lg">Proceed with Purchase</button>
        </form>
    {% endif %}

{% endblock %}
