{% extends 'store/base.html' %}

{% block title %}Products - E-commerce Site{% endblock %}

{% block content %}
    <h2 class="text-center">All Products <i class="bi bi-phone"></i></h2>
    <hr>
    <div class="search-filter-container mb-4 text-center">
        <form method="get" class="d-flex justify-content-center">
            <input type="text" name="q" placeholder="Search by name" value="{{ request.GET.q }}" class="form-control me-2" style="width: 300px;">
            <div class="input-group">
                <select name="category" class="form-select category-select" onchange="this.form.submit()">
                    <option value="">All Categories</option>
                    {% for cat in categories %}
                        <option value="{{ cat.id }}" {% if request.GET.category == cat.id|stringformat:"s" %}selected{% endif %}>{{ cat.name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary">Search <i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>
<hr>
    <div class="product-list">
        {% for product in products %}
            <div class="product-item">
                <div class="product-image">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                </div>
                <div class="product-details">
                    <h3>{{ product.name }}</h3>
                    <p class="price">${{ product.price }}</p>
                    <p class="description">{{ product.description|slice:":100" }}{% if product.description|length > 100 %}...{% endif %}</p>
                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <button type="submit" class="add-to-cart-btn">Add to Cart</button>
                    </form>
                    <a href="{% url 'product_detail' product.id %}" class="view-details">View Details</a>
                </div>
            </div>
        {% empty %}
            <p>No products available.</p>
        {% endfor %}
    </div>
{% endblock %}
