{% extends 'store/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4"><i class="bi bi-person-plus"></i> Register</h2>
    <div class="card" style="max-width: 400px; margin: auto;">
        <div class="card-body" style="background-color: rgb(200, 253, 228) ;">
            <form method="POST">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="id_first_name" class="form-label">First Name</label>
                    {{ form.first_name }}
                    {% for error in form.first_name.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <label for="id_last_name" class="form-label">Last Name</label>
                    {{ form.last_name }}
                    {% for error in form.last_name.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <label for="id_email" class="form-label">Email</label>
                    {{ form.email }}
                    {% for error in form.email.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    <label for="id_username" class="form-label">
                        Username
                    </label>
                    {{ form.username }}
                    {% for error in form.username.errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                    {% endfor %}
                    <p style = "font-size:12px; color: rgb(168, 127, 127);">
                        * Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.
                    </p>
                </div>

                <div class="mb-3">
                    <label for="id_password1" class="form-label">Password</label>
                    {{ form.password1 }}
                    {% for error in form.password1.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    <p style = "font-size:12px; color: rgb(168, 127, 127);">
                        * Can't be too similar to your other personal information.</br>
                        * Must contain at least 8 characters.</br>
                        * Can't be a commonly used password.</br>
                        * Can't be entirely numeric.</br>
                    </p>
                </div>

                <div class="mb-3">
                    <label for="id_password2" class="form-label">Confirm Password</label>
                    {{ form.password2 }}
                    {% for error in form.password2.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                    <p style = "font-size:12px; color: rgb(168, 127, 127);">
                        * Enter the same password as before, for verification.
                    </p>
                </div>

                <button type="submit" class="btn btn-primary w-100">Register</button>
            </form>
            <div class="text-center mt-3">
                <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
